body {
  margin:0;
  padding: 0;
}

h1 {
  color: darkred;
  text-transform: uppercase;
}

.container-fluid{
  padding:0;
}
.logo {
  position: relative;
  z-index: 2500;
}

.banner {
  position: fixed;
  z-index: -1;
}