{% extends 'base.html.twig' %}

{% block  title %} Générateur de numéro chance aléatoire {% endblock %}

{% block body %}

<h1> Your lucky number is {{ number }}</h1>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            console.log("Script working properly");
        });
    </script>
{% endblock %}